
@import "tailwindcss";

body {
	font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
} 

@theme {
  /* Configuración de Colores */
  --color-background: #121416;
  --color-on-background: #e2e2e5;
  --color-primary: #acc7ff;
  --color-primary-container: #6a96e8;
  --color-on-primary-container: #002d65;
  --color-surface: #353941;
  --color-surface-variant: #333537;
  --color-on-surface: #e2e2e5;
  --color-on-surface-variant: #c3c6d3;
  --color-outline-variant: #434751;
  /* Añade aquí el resto de tus colores siguiendo el mismo patrón --color-NOMBRE */

  /* Configuración de Espaciado (si los necesitas como utilidades) */
  --spacing-md: 1rem;
  --spacing-lg: 1.5rem;
  --spacing-margin-desktop: 2.5rem;
  
  /* Configuración de Fuentes */
  --font-sora: "Sora", sans-serif;
}

@layer base {
  body {
    background-color: var(--color-background);
    color: var(--color-on-background);
    @apply min-h-screen antialiased;
  }
}

/* Tus clases personalizadas */
.glass-surface {
  background: rgba(30, 32, 34, 0.8);
  backdrop-filter: blur(16px);
}

.primary-glow {
  box-shadow: 0px 0px 16px rgba(106, 150, 232, 0.4);
}